<div id="headercontainer">
  <div class="container shadow">
    <div class="logo ptr" [routerLink]="['/me']" routerLinkActive="router-link-active"><strong>Anass Azeroual</strong> /
      <i>Développeur Full Stack</i>
    </div>
    <div class="m1 ptr" [routerLink]="['/ex']" routerLinkActive="router-link-active">Experience</div>
    <div class="m2 ptr" [routerLink]="['/ed']" routerLinkActive="router-link-active">Education</div>
    <div class="m3 ptr" [routerLink]="['/pr']" routerLinkActive="router-link-active">Projects </div>
    <div class="m4 ptr" [routerLink]="['/co']" routerLinkActive="router-link-active">Contact</div>
  </div>
</div>
